* {
    margin: 0;
    padding: 0;
}

.navbar-customize {
    font-size: 2vw;
    color: white;
    transition: 0.3s;
}

.navbar-customize:hover {
    text-decoration: none;
    color: #e9eced;
}

.header {
    text-align: center;
}

.about-me-p {
    line-height: 200%;
    letter-spacing: 1px;
}

/*PORTFOLIO STYLES*/
.carousel-styles {
    padding: 30px;
    margin: 0 auto;
}
.carousel-styles img {
    height: auto;
    width: 100%;
    margin: 5px;
}
.carousel-item {
    text-align: center;
}
.portfolio-link {
    background: lightgray;
    padding: 5px 150px;
    margin: 5px 20px;
}