:root {
    --text-color: #14253E;
    --background: #83c5be;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    font-family: 'DM Sans', sans-serif;
    width: 96vw;
}
/*home*/
.period {
    color: white;
}
.jumbo-header-wrapper {
    margin: 150px 150px;
    border-right: thick solid var(--text-color);
}
.jumbo-header {
    text-align: left;
    cursor: default;
    font-size: 13vw;
    color: #14253E;
}

/*home nav-wrapper*/
.nav-wrapper {
    margin: 300px 0;
    text-align: left;
}
.nav-title a {
    color: var(--text-color);
    text-decoration: none;
}
.nav-title a:hover {
    color: white;
    transition: 0.3s;
}
.nav-wrapper a {
    color: var(--text-color);
    display: block;
    margin-top: 25px;
    padding: 5px;
    font-size: 50px;
    width: 75%;
    text-decoration: none;
}
.nav-wrapper a:hover {
    color: white;
    transition: 0.3s;
    transform: translateX(20px);
}
.icons {
    margin: 25px 0;
}
.icons a {
    display: inline;
    margin: 0 10px;
}
.icons a:hover {
    font-size: 50px;
}
/*other nav-wrapper*/
.nav-wrapper-other  {
    padding: 10px;
}
.nav-item {
    display: inline;
    color: black;
    margin: 15px;
    padding: 15px;
    text-decoration: none;
}
.nav-item:hover {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    transform: translateY(-5px);
}
.right {
    float: right;
}
/*about styles*/
.about-wrapper {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}
.about-wrapper img {
    display: block;
    width: 50%;
    margin: 0 auto;
    border: thin solid black;
    border-radius: 50%;
}
.about-wrapper p {
    padding: 5px;
    cursor: default;
}
.about-p {
    width: 75%;
    margin: 0 auto;
    font-size: 25px;
}
.about-icons {
    text-align: center;
    margin: 10px 0;
}
.about-icons a {
    color: black;
    font-size: 25px;
    margin: 0 10px;
}
.about-icons a:hover {
    color: white;
    transition: 0.3s;
}
/*portfolio styles*/
.project-1 {
    background-image: url('../img/munch-a-movie.png');
    background-size: cover;
    background-position: center;
    height: 350px;
}
.project-2 {
    background-image: url('../img/myhaus.png');
    background-size: cover;
    background-position: center;
    height: 350px;
}
.project-3 {
    background-image: url('../img/password-generator.png');
    background-size: cover;
    background-position: center;
    height: 350px;
}
.project-4 {
    background-image: url('../img/work-day-scheduler.png');
    background-size: cover;
    background-position: center;
    height: 350px;
}
.project-5 {
    background-image: url('../img/weather-dashboard.png');
    background-size: cover;
    background-position: center;
    height: 350px;
}
.col-margin {
    margin: 5px;
}
.project-wrapper {
    width: 100%;
    background: white;
    bottom: 0;
}

/*media queries*/
/* 
@media screen and (max-width: px) {

} */

@media screen and (max-width: 1440px) {
    .jumbo-header-wrapper {
        margin: 150px 100px;
        padding: 0;
    }
    /*home nav-wrapper*/
    .nav-wrapper {
        margin: 175px 0;
        padding: 0;
    }
    /*about me*/
    .about-wrapper {
        width: 100%;
    }
    .about-wrapper p {
        padding: 5px;
        cursor: default;
    }
    .about-p {
        text-align: justify;
        width: 75%;
        font-size: 1.75vw;
        margin: 0 auto;
    }
} 

@media screen and (max-width: 1200px) {
    .row {
        display: block;
    }
    .jumbo-header-wrapper {
        margin: 10px auto;
        border-right: none;
    }
    .jumbo-header {
        cursor: default;
        font-size: 13vw;
        text-align: center;
    }
    
    /*home nav-wrapper*/
    .nav-wrapper {
        margin: 20px 475px;
        text-align: center;
        width: 100%;
    }
    .nav-wrapper a {
        margin-top: 10px;
        font-size: 40px;
        width: 100%;
        text-decoration: none;
        border: thin solid black;
    }
    .icons {
        margin: 25px 0;
    }
    .icons a {
        display: inline;
        margin: 0 10px;
        border: none;
    }
    .icons a:hover {
        font-size: 50px;
    }
    /*about page*/
    .about-wrapper img {
        display: block;
        margin: 0 445px;
        border: thin solid black;
        border-radius: 50%;
    }
}

@media screen and (max-width: 1024px) {
    /*home nav-wrapper*/
    .nav-wrapper {
        margin: 20px 400px;
        text-align: center;
        width: 100%;
    }
    .nav-wrapper a {
        margin-top: 10px;
        font-size: 40px;
        width: 100%;
        text-decoration: none;
        border: thin solid black;
    }
    .icons {
        margin: 25px 0;
    }
    .icons a {
        display: inline;
        margin: 0 10px;
        border: none;
    }
    
    /*about page*/
    .about-wrapper {
        width: 100%;
    }
    .about-wrapper img {
        margin: 0 360px;
    }
    .about-wrapper p {
        padding: 5px;
        cursor: default;
    }
    .about-p {
        text-align: justify;
        width: 75%;
        font-size: 1.75vw;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .nav-wrapper {
        margin: 20px auto;
        text-align: center;
        width: 75%;
    }
    .nav-wrapper a {
        margin-top: 10px;
        font-size: 40px;
        width: 100%;
        text-decoration: none;
        border: thin solid black;
    }
    .icons {
        margin: 25px 0;
    }
    .icons a {
        display: inline;
        margin: 0 10px;
        border: none;
    }
}